.machine-button {
    background-color: blue;
    color: white;
}

.machine-label {
    background-color: black;
    color: white;
}

.machine-control-region {
    background-color: grey;

    display: grid;
    align-content: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    padding: 5%;
    margin-bottom: 4%;
}

.error {
    background-color: red;
    color: white;
}

body {
    background-color: saddlebrown;
    display: grid;
    align-content: center;
    justify-content: center;
}